<%= render "govuk_publishing_components/components/title", {
    title: "User Details",
    margin_bottom: 9
} %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/summary_list", {
        title: "Claims returned for user",
        items: userinfo_items
    } %>
    <%= render "govuk_publishing_components/components/button", {
        text: "Logout",
        href: logout_path
    } %>
  </div>
</div>
